@model BusQuei.Models.Maintenance

@{
    ViewData["Title"] = "Deletar Manutenção";
}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh;">
    <h4>Tem certeza de que deseja excluir está manutenção?</h4>
    <div style="width: 60%; text-align: center; margin-bottom: 20px;">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Bus)</th>
                    <td>@Html.DisplayFor(model => model.Bus.LicensePlate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                    <td>@Html.DisplayFor(model => model.Date)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Type)</th>
                    <td>@Html.DisplayFor(model => model.Type)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <td>@Html.DisplayFor(model => model.Status)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                    <td>@Html.DisplayFor(model => model.Remarks)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <form asp-action="Delete" style="display: flex; gap: 10px;">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </form>
</div>
