@model BusQuei.Models.Maintenance

@{
    ViewData["Title"] = "Detalhes da Manutenção";
}

<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div style="width: 60%; padding: 20px; border-radius: 8px;">
    <h4 style="text-align: center;">Detalhes da Manutenção</h4>
        <table class="table table-bordered" style="width: 100%; border-collapse: collapse;">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Bus)</strong></td>
                    <td>@Html.DisplayFor(model => model.Bus.LicensePlate)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Date)</strong></td>
                    <td>@Html.DisplayFor(model => model.Date)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Type)</strong></td>
                    <td>@Html.DisplayFor(model => model.Type)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Status)</strong></td>
                    <td>@Html.DisplayFor(model => model.Status)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Remarks)</strong></td>
                    <td>@Html.DisplayFor(model => model.Remarks)</td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center; margin-top: 20px;">
            <a class="btn btn-primary" asp-action="Index">Voltar</a>
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        </div>
    </div>
</div>
