@model BusQuei.Models.Bus

@{
    ViewData["Title"] = "Detalhes do ônibus";
}

<head>
    <link rel="stylesheet" href="~/css/onibus_details.css" asp-append-version="true" />
</head>

<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
    <div style="width: 60%; padding: 20px; border-radius: 8px;">
        <h4 style="text-align: center;">Detalhes do Ônibus</h4>
        <table class="table table-bordered" style="width: 100%; border-collapse: collapse;">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.LicensePlate)</strong></td>
                    <td>@Html.DisplayFor(model => model.LicensePlate)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Model)</strong></td>
                    <td>@Html.DisplayFor(model => model.Model)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Capacity)</strong></td>
                    <td>@Html.DisplayFor(model => model.Capacity)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Status)</strong></td>
                    <td>@Html.DisplayFor(model => model.Status)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Route)</strong></td>
                    <td>@Html.DisplayFor(model => model.Route.Arrival)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="text-align: center; margin-bottom: 200px">
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>
