@model IEnumerable<BusQuei.Models.Bus>

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastro de ônibus</h1>

<head>
    <link rel="stylesheet" href="~/css/buss.css" asp-append-version="true" />
</head>

<p>
    <a class="btn btn-create" asp-action="Create">Cadastrar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LicensePlate)</th>
            <th>@Html.DisplayNameFor(model => model.Model)</th>
            <th>@Html.DisplayNameFor(model => model.Capacity)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.Route)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LicensePlate)</td>
                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.Route.Arrival)</td>
                <td>
                    <a class="btn btn-edit" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-details" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-delete" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
