@model BusQuei.Models.Route

@{
    ViewData["Title"] = "Deletar Rota";
}

<div style="display: flex; justify-content: center; align-items: center; height: 70vh;">
    <div style="width: 60%; padding: 20px; border-radius: 8px;">
        <h4 style="text-align: center;">Tem certeza de que deseja excluir esta rota?</h4>
        <table class="table table-bordered" style="width: 100%; border-collapse: collapse; margin-top: 20px;">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Name)</strong></td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Departure)</strong></td>
                    <td>@Html.DisplayFor(model => model.Departure)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Arrival)</strong></td>
                    <td>@Html.DisplayFor(model => model.Arrival)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.DepartureTime)</strong></td>
                    <td>@Html.DisplayFor(model => model.DepartureTime)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ArrivalTime)</strong></td>
                    <td>@Html.DisplayFor(model => model.ArrivalTime)</td>
                </tr>
            </tbody>
        </table>
        <form asp-action="Delete" style="text-align: center; margin-top: 20px;">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
            <input type="submit" value="Deletar" class="btn btn-danger" />
        </form>
    </div>
</div>
