@model BusQuei.Models.Route

@{
    ViewData["Title"] = "Detalhes da Rota";
}

<head>
    <link rel="stylesheet" href="~/css/route_details.css" asp-append-version="true" />
</head>

<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
    <div style="width: 60%; padding: 20px; border-radius: 8px;">
        <h4 style="text-align: center;">Detalhes da Rota</h4>
        <table class="table table-bordered" style="width: 100%; border-collapse: collapse;">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Name)</strong></td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Departure)</strong></td>
                    <td>@Html.DisplayFor(model => model.Departure)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Arrival)</strong></td>
                    <td>@Html.DisplayFor(model => model.Arrival)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.DepartureTime)</strong></td>
                    <td>@Html.DisplayFor(model => model.DepartureTime)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ArrivalTime)</strong></td>
                    <td>@Html.DisplayFor(model => model.ArrivalTime)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="text-align: center; margin-bottom: 200px;">
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>
